src/main/mule/onetrust-subscriber.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">
	<flow name="anypointmq-onetrust-subscriber" doc:id="d4d115e2-a121-4dba-b988-221035a39aa2" >
		<anypoint-mq:subscriber doc:name="Subscriber individual-onetrust-in" doc:id="4040a6a9-ed54-43cc-89b5-b7839a946017" config-ref="Anypoint_MQ_Config-Onetrust" destination="new-lead-ot-datasubject-in" outputMimeType="application/json" >
			<reconnect />
			<anypoint-mq:circuit-breaker onErrorTypes="${messageQueue.circuitBreaker.errors}" tripTimeout="${messageQueue.circuitBreaker.tripTimeout}" errorsThreshold="${messageQueue.circuitBreaker.threshold}"/>
		</anypoint-mq:subscriber>
		<set-variable value="#[payload]" doc:name="tmpPayload" doc:id="d4017077-4a5a-4dd6-9825-99a7d5535e33" variableName="tmpPayload"/>
		<set-variable value="#[payload.collectionPoint]" doc:name="collectionpt" doc:id="481554e8-8fea-4b03-a415-4b4f6d604072" variableName="collectionpt"/>
		<flow-ref doc:name="onetrust-collectionpt-get" doc:id="c7baf672-6c1d-45f1-8e8b-cd8d27fd42cb" name="onetrust-collectionpt-get"/>
		<set-variable value="#[payload.token]" doc:name="cpToken" doc:id="1c8dec65-30ea-455e-9e57-008e1f8a83aa" variableName="cpToken"/>
		<ee:transform doc:name="Transform Message" doc:id="055eebb3-6564-479c-a6f0-620719d2e568" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	test: true,
	requestInformation: vars.cpToken,
	identifier: vars.tmpPayload.identifier,
	generateInstantLinkToken: true,
	parentPrimaryIdentifiers: vars.tmpPayload.parentPrimaryIdentifiers,
	dsDataElements: vars.tmpPayload.dsDataElements
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request- datasubject" doc:id="3a377429-69b1-4ecf-a5a5-4073e00e8856" config-ref="HTTP_Request_PrefsCtr" path="/mec/prefs-ctr/1.0/onetrust/datasubject">
			<http:headers ><![CDATA[#[output application/java
---
{
	client_secret : '${pref-ctr.client_secret}',
	client_id : '${pref-ctr.client_id}'
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	collectionpt : vars.collectionpt
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="f5a22c38-5f6d-466e-90a2-5552a7b9b5e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	salesforce: vars.tmpPayload,
	onetrust: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="TODO: map OT guids w/SFDC identifiers" doc:id="87afb1b9-8a92-476c-b56c-849266591ae7" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b5162478-48b0-4146-b8d9-ee379535b83c" >
				<logger level="INFO" doc:name="TODO: push tmppayload into error q" doc:id="e1a28be6-9f08-4658-9aaa-6df015466a20" />
				<ee:transform doc:name="Transform Message" doc:id="0e2d219c-d697-4f48-bb9b-bac96d59c443" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0

var entry = error.detailedDescription
output application/java
---
{
	datetime: now() as LocalDateTime,
	logentry: 'ERROR ONETRUST SUBSCRIBER: ' ++ entry
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<cloudhub:create-notification domain="${cloudhub.domain}" doc:id="3db71984-0053-42f8-8358-198003a52566" config-ref="CloudHub_Config" priority="ERROR" doc:name="Create Notification" >
					<cloudhub:message ><![CDATA[#[payload.logentry]]]></cloudhub:message>
				</cloudhub:create-notification>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
