src/main/mule/onetrust-subscriber.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="Object_store_onetrust-dead-letter" doc:name="Object store" doc:id="e04679fc-90bd-4d7b-a679-231d365568c7" />
	<flow name="anypointmq-onetrust-subscriber" doc:id="d4d115e2-a121-4dba-b988-221035a39aa2" maxConcurrency="1">
		<anypoint-mq:subscriber doc:name="Subscriber individual-onetrust-in" doc:id="4040a6a9-ed54-43cc-89b5-b7839a946017" config-ref="Anypoint_MQ_Config-Onetrust" destination="${messageQueue.queueName}" outputMimeType="application/json" acknowledgementMode="MANUAL">
			<reconnect />
			<anypoint-mq:subscriber-type >
				<anypoint-mq:prefetch maxLocalMessages="${messageQueue.circuitBreaker.threshold}" />
			</anypoint-mq:subscriber-type>
			<anypoint-mq:circuit-breaker onErrorTypes="${messageQueue.circuitBreaker.errors}" tripTimeout="${messageQueue.circuitBreaker.tripTimeout}" errorsThreshold="${messageQueue.circuitBreaker.threshold}" tripTimeoutUnit="MINUTES"/>
		</anypoint-mq:subscriber>
		<set-variable value="#[attributes.ackToken]" doc:name="ackToken" doc:id="dbbec4e9-59b0-4b39-ac12-b27691a1b66f" variableName="ackToken" />
		<ee:transform doc:name="Transform Message" doc:id="494e7998-4294-466f-8f8c-b41aab97440b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
read( payload, "application/json")
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="tmpPayload" doc:id="d4017077-4a5a-4dd6-9825-99a7d5535e33" variableName="tmpPayload"/>
		<set-variable value="${secure::onetrust.api_token}" doc:name="api_token" doc:id="1293e150-02a2-46b0-9121-e5434ff78453" variableName="api_token" />
		<flow-ref doc:name="onetrust-subscriber-child-profile" doc:id="13d7c825-1439-4fa4-b8bd-967a5c23f11d" name="onetrust-subscriber-child-profile"/>
		<flow-ref doc:name="onetrust-subscriber-parent-profile" doc:id="fdd06c2b-7628-4999-84a6-83a6158139fe" name="onetrust-subscriber-parent-profile"/>
		<ee:transform doc:name="Transform Message" doc:id="f405fa8f-952f-4ea1-81f0-68ec5a790a47" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	identifiers: [
		vars.tmpPayload.identifier,
		vars.tmpPayload.parentPrimaryIdentifiers[0].parentIdentifier
	],
	primaryIdentifier: vars.tmpPayload.parentPrimaryIdentifiers[0].parentIdentifier
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4cf4d9e0-267d-4905-925e-7f48c03439ef" message="#[payload]"/>
		<flow-ref doc:name="onetrust-link-identities-post" doc:id="acd482bf-92fa-441e-b345-e85f290663df" name="onetrust-link-identities-post" />
		<ee:transform doc:name="Transform Message" doc:id="f5a22c38-5f6d-466e-90a2-5552a7b9b5e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

[{
  "Receipt__c": write(
    {
	  salesforce: vars.tmpPayload,
	  onetrust: payload
    }
	, "application/json")
} as Object {class: "java.util.HashMap"}]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:publish-platform-event-message doc:name="Publish platform event msg: OT Data Subject Creation" doc:id="5184122e-6dc5-44f2-8743-740f59b7fad6" config-ref="Salesforce_Config2" platformEventName="OT_Data_Subject_Creation__e"/>
		<anypoint-mq:ack doc:name="Ack" doc:id="3584c775-297a-4eb2-87b9-93f54cfd9c79" config-ref="Anypoint_MQ_Config-Onetrust" ackToken="#[vars.ackToken]"/>
		<logger level="INFO" doc:name="Logger" doc:id="2eae0eff-e143-4be0-bfa9-5af0b0360e28" message="#['POSTed OT Data Subject Creation']"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="920dd8e8-a30d-402a-9702-34008113d504" type="${messageQueue.circuitBreaker.errors}">
				<logger level="ERROR" doc:name="log" doc:id="b8709624-d153-48d2-a09c-02d29cb94f65" message="#['onetrust-subscriber ERROR']" />
				<ee:transform doc:name="Transform Message" doc:id="f95312a6-8bcc-4dd7-97e1-020db6aa6f0a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0

var entry = error.detailedDescription
output application/java
---
{
	datetime: now() as LocalDateTime,
	logentry: 'ERROR ONETRUST SUBSCRIBER: ' ++ entry
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<cloudhub:create-notification domain="${cloudhub.domain}" doc:id="c6c62522-2998-4c96-a032-06aa3b423ea6" config-ref="CloudHub_Config" priority="ERROR" doc:name="Create Notification">
					<cloudhub:message><![CDATA[#[payload.logentry]]]></cloudhub:message>
				</cloudhub:create-notification>
				<anypoint-mq:nack doc:name="Nack" doc:id="a4b52bf6-7912-4f7c-ae05-4c42b2210e0d" config-ref="Anypoint_MQ_Config-Onetrust" ackToken="#[vars.ackToken]" />
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7ed99d6f-61d8-42de-b1db-dba4f422698a" type="ANY">
				<anypoint-mq:publish doc:name="Publish: onetrust-error" doc:id="1310f607-0b96-4300-b9b0-fb6551ceb815" config-ref="Anypoint_MQ_Config-Onetrust" destination="onetrust-error"/>
				<logger level="ERROR" doc:name="log" doc:id="54747ff7-143a-4eb3-9ec3-fa81cbe7e691" message="#['onetrust-subscriber ERROR']" />
				<ee:transform doc:name="Transform Message" doc:id="ae542549-1bea-472e-a847-d6001abe03e1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0

var entry = error.detailedDescription
output application/java
---
{
	datetime: now() as LocalDateTime,
	logentry: 'ERROR ONETRUST SUBSCRIBER: ' ++ entry
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<cloudhub:create-notification domain="${cloudhub.domain}" doc:name="Create Notification" doc:id="0a5ef981-3ae4-429f-9e4e-273ed9afd223" config-ref="CloudHub_Config" priority="ERROR" >
					<cloudhub:message ><![CDATA[#[payload.logentry]]]></cloudhub:message>
				</cloudhub:create-notification>
				<anypoint-mq:ack doc:name="Ack" doc:id="683968c8-c914-4a3d-badf-2ba8dc1dc93f" config-ref="Anypoint_MQ_Config-Onetrust" ackToken="#[vars.ackToken]" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="onetrust-subscriber-retry" doc:id="5f781613-7487-4c1d-b9c6-1f7bf6557d98" initialState="started">
		<anypoint-mq:subscriber doc:name="Subscriber: onetrust-dead-letter" doc:id="be3b86cf-ae68-4e6d-9068-f8e74693534d" config-ref="Anypoint_MQ_Config-Onetrust" destination="onetrust-dead-letter">
			<redelivery-policy maxRedeliveryCount="1" objectStore="Object_store_onetrust-dead-letter" />
			<anypoint-mq:subscriber-type >
				<anypoint-mq:polling >
					<scheduling-strategy >
						<fixed-frequency frequency="60" timeUnit="MINUTES" />
					</scheduling-strategy>
				</anypoint-mq:polling>
			</anypoint-mq:subscriber-type>
		</anypoint-mq:subscriber>
		<logger level="INFO" doc:name="Logger" doc:id="c965c372-74b2-443b-8ddd-3b0453f797e2" message="#['onetrust-dead-letter RETRY']"/>
		<anypoint-mq:publish doc:name="Publish: individual-onetrust-in-cb" doc:id="377dac90-39e8-4481-b789-7640fe6060bc" config-ref="Anypoint_MQ_Config-Onetrust" destination="${messageQueue.queueName}"/>
	</flow>
	<sub-flow name="onetrust-subscriber-child-profile" doc:id="34b470c9-b922-421c-9a3e-a3f96fbbf905" >
		<set-variable value="#[payload.collectionPointChild]" doc:name="collectionpt" doc:id="ae694b3d-1c97-417d-a18e-4263fa9c39f5" variableName="collectionpt" />
		<flow-ref doc:name="onetrust-collectionpt-get" doc:id="7a3c5b45-5916-4f0a-99d7-21dcf5673c68" name="onetrust-collectionpt-get" />
		<set-variable value="#[payload.token]" doc:name="cpToken" doc:id="f6e784a2-74a5-4378-9656-f8a0fc2baaa1" variableName="cpToken" />
		<ee:transform doc:name="Transform Message" doc:id="1b5e69f6-5304-490c-91a4-cbb6dce27147" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::util::Coercions

output application/json
---
{
	test: toBoolean("${onetrust.is_test}"),
	requestInformation: vars.cpToken,
	identifier: vars.tmpPayload.identifier,
	shortLinkToken: true,
	purposes: vars.tmpPayload.purposes,
	parentPrimaryIdentifiers: vars.tmpPayload.parentPrimaryIdentifiers,
	dsDataElements: vars.tmpPayload.dsDataElements
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="onetrust-consentreceipts-post" doc:id="d25d841c-3548-405f-ae2c-3938faa3843f" name="onetrust-consentreceipts-post" />
	</sub-flow>
	<sub-flow name="onetrust-subscriber-parent-profile" doc:id="aef93c9c-144f-4571-ab87-6f61db2a55be" >
		<set-variable value="#[vars.tmpPayload.collectionPointParent]" doc:name="collectionpt" doc:id="13acd4a4-7a5e-427c-bd61-1d79535f480a" variableName="collectionpt" />
		<flow-ref doc:name="onetrust-collectionpt-get" doc:id="60a17e0e-628d-4039-97fe-c32cba865ebf" name="onetrust-collectionpt-get" />
		<set-variable value="#[payload.token]" doc:name="cpToken" doc:id="97cf1296-66c9-43b9-b8a0-26d76d5c50bc" variableName="cpToken" />
		<ee:transform doc:name="Transform Message" doc:id="54d99607-8b9b-4d4e-957d-b86dce3ff44b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::util::Coercions

output application/json
---
{
	test: toBoolean("${onetrust.is_test}"),
	requestInformation: vars.cpToken,
	identifier: vars.tmpPayload.parentPrimaryIdentifiers[0].parentIdentifier,
	additionalIdentifiers: vars.tmpPayload.additionalIdentifiers,
	dsDataElements: vars.tmpPayload.dsDataElements
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="onetrust-consentreceipts-post" doc:id="a128a03d-d951-45fe-ac69-236e266d01c1" name="onetrust-consentreceipts-post" />
	</sub-flow>
</mule>
